/* Add <span> tags and setup your style sheet so that every time the word �Georgia State, Computer Science and 2 more words ("Mad", "Dog") of your choice� appears, it is in red and is in bold.*/
.georgia {
  color: red !important;
  font-weight: bold;
}
body {
  /* "You an image as a background; please ensure that the image is not overpowering but pleasant to display the text and links etc" */
  background: #444 url("background.webp") no-repeat center center / cover;
  display: flex;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  /* Use CSS to change the font used throughout the page to sans-serif. */
  font-family: sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.quote {
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
}
.headshotStyle {
  border-radius: 10px;
  height: 2%;
  width: 30%;
  margin-top: 5%;
  border-radius: 15px;
}
.myName {
  color: black;
  align-self: center;
}
/* Table Styles */
.tableStyle {
  border: none;
  font-size: x-large;
  width: 90%;
  margin-top: 5%;
  align-items: center;
  table-layout: fixed;
}
th {
  text-decoration: underline;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  color: #444;
}
tr:nth-child(odd) {
  background-color: #d8d5d5;
}
td {
  font-size: medium;
  text-align: center;
  width: 25%;
}
/* Link Styles */
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}
a:hover {
  font-size: 120%;
  color: #444;
  font-style: italic;
}
/* List Styles */
ul.a {
  list-style-type: none;
}
ul.a li:before {
  content: "\2014";
  position: absolute;
  margin-left: -20px;
}
ul.b {
  list-style-type: square;
}
h3#education {
  margin-bottom: -5%;
  text-decoration: underline;
  font-style: italic;
}
h3#hobbies {
  margin-bottom: -2%;
  text-decoration: underline;
  font-style: italic;
}
h3#experience {
  margin-bottom: -1%;
  text-decoration: underline;
  font-style: italic;
}
h3#links {
  margin-bottom: -2%;
  text-decoration: underline;
  font-style: italic;
}
.dates {
  font-style: italic;
}

.education_linkStyle {
  width: 100%;
  height: 50%;
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
}
.educationSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(248, 236, 236, 0.4);
  width: 35%;
  height: 190px;
  border-radius: 10px;
  box-shadow: 2px 3px #444;
  z-index: 99;
  font-weight: bold;
  font-size: 90%;
  line-height: 130%;
}
.educationText {
  margin-top: -5rem;
  font-size: small;
  padding: 5%;
  color: black;
  z-index: 99;
  font-weight: bold;
}
.educationTable {
  width: 100%;
  height: 100%;
}
.degree {
  font-size: small;
  margin-bottom: 2%;
  margin-left: 5%;
}
.educationSection:hover {
  background-color: white;
  box-shadow: none;
}
.linksSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(251, 248, 248, 0.4);
  width: 30%;
  height: 190px;
  border-radius: 10px;
  box-shadow: 2px 3px #444;
  z-index: 99;
  font-weight: bold;
  font-size: 100%;
  line-height: 140%;
}
.linksSection:hover {
  background-color: white;
  box-shadow: none;
}

.experience_hobbyStyle {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
}
.experienceSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(248, 236, 236, 0.4);
  width: 35%;
  height: 190px;
  border-radius: 10px;
  box-shadow: 2px 3px #444;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 100%;
  line-height: 135%;
}
.experienceSection:hover {
  background-color: white;
  box-shadow: none;
}
.hobbieSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(248, 236, 236, 0.4);
  width: 30%;
  height: 190px;
  border-radius: 10px;
  box-shadow: 2px 3px #444;
  z-index: 99;
  font-weight: bold;
  text-align: right;
  font-size: 90%;
  line-height: 125%;
}
.hobbieSection:hover {
  background-color: white;
  box-shadow: none;
}
.experienceText {
  font-size: small;
  font-weight: bold;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  z-index: 99;
}
